:root {
    --first-color: #3b3b3b;
    --danger-color: #dc3545;
}

html, body {
    box-sizing: border-box;
    font-size: 10px;
    min-height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* FORM */
.message-input {
    color: var(--danger-color)!important;
}

/* TEXT-AREA */
mat-form-field {
    width: 100%;
}