<div class="common-sidebar-component">
    <div class="sidebar-wrapper">
        <ul class="sidebar-navigator">
            <li>
                <a [routerLink]="['/products']">Product</a>
            </li>
            <li>
                <a [routerLink]="['/users']">User</a>
            </li>
            <li>
                <a [routerLink]="['/carts']">Carts</a>
            </li>
            <li>
                <a [routerLink]="['/orders']">Orders</a>
            </li>
            <li>
                <a [routerLink]="['/roles']">Roles</a>
            </li>
        </ul>
    </div>
</div>
