<header class="header-component">
    <div class="header-wrapper-container">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <h1 class="header-logo">
                        <a [routerLink]="['/']">Food Delivery</a>
                    </h1>
                </div>
                <div class="col-9 d-flex align-items-center justify-content-end">
                    <ul class="header-list header-auth-navigator d-none d-lg-flex">
                        <li *ngIf="!user.id">
                            <a [routerLink]="['/auth']">
                                <mat-icon aria-hidden="false" fontIcon="login"></mat-icon>
                                <span>Đăng nhập</span>
                            </a>
                        </li>
                        <li *ngIf="user.id">
                            <p class="header-auth-email">{{user.email}}</p>
                        </li>
                        <li *ngIf="user.id">
                            <a (click)="onSignoutHandler()">
                                <mat-icon aria-hidden="false" fontIcon="logout"></mat-icon>
                                <span>Đăng xuất</span>
                            </a>
                        </li>
                    </ul>

                    <button
                        class="header-btn-tableft d-block d-lg-none"
                        [ngClass]="{'active': statusTabLeft}"
                        (click)="onToggleTabLeftHandler()">
                            <span></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <app-common-header-tableft [statusTabLeft]="statusTabLeft" (emitCloseTabLeft)="onCloseTabLefthandler($event)" (emitSignout)="onSignout()"></app-common-header-tableft>
</header>
