<div class="dashboard-role-new-component">
    <form [formGroup]="roleForm" (submit)="onSubmitHandler($event)">
        <div class="row">
            <div class="col-6">
                <app-common-input
                    ngDefaultControl
                    [formControl]="name"
                    [label]="'Role name'"
                    [id]="'name-role'"
                    [submit]="submit"
                    [type]="'text'"></app-common-input>
            </div>
            <div class="col-12">
                <app-common-button [type]="'submit'" [title]="'Create role'"></app-common-button>
            </div>
        </div>
    </form>
</div>
